@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Orbitron', sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  background-image: url('https://image.freepik.com/free-vector/geometric-shapes-neon-lights-background_23-2148433900.jpg');
  background-size:cover;
}
